.calc{
  width: 320px;
  margin: 100px auto;
}
#answer{
  background-color: #e2e2e2;
  padding: 10px;
  font-size: 35px;
  width: 320px;
  height: 100px;
  text-align: right;
  border: 3px solid #025d3a;
}
.button{
  background: #f58888;
  height: 80px;
  width: 80px;
  color: black;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.button1{
  width: 160px;
}